<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>mule-ee-repo</id>
      <username>nabrajkhatri</username>
      <password>MuleSoftYey3#</password>
    </server>
    <server>
      <id>Exchange2</id>
      <username>~~~Client~~~</username>
      <password>d36c689b719c4e748ef86eb646da367f~?~0f440B5a692049dAa2bcdB63335d21B6</password>
    </server>
    <server>
      <id>ExchangeRepository</id>
      <username>~~~Client~~~</username>
      <password>d36c689b719c4e748ef86eb646da367f~?~0f440B5a692049dAa2bcdB63335d21B6</password>
    </server>
    <server>
      <id>MuleExchangeRepo</id>
      <username>~~~Client~~~</username>
      <password>d36c689b719c4e748ef86eb646da367f~?~0f440B5a692049dAa2bcdB63335d21B6</password>
    </server>
    <server>
      <id>MuleMavenRepo</id>
      <username>~~~Client~~~</username>
      <password>d36c689b719c4e748ef86eb646da367f~?~0f440B5a692049dAa2bcdB63335d21B6</password>
    </server>
    <server>
      <id>MuleRepository1</id>
      <username>~~~Client~~~</username>
      <password>d36c689b719c4e748ef86eb646da367f~?~0f440B5a692049dAa2bcdB63335d21B6</password>
    </server>
    <server>
      <id>mulesoft-releases</id>
      <username>~~~Client~~~</username>
      <password>d36c689b719c4e748ef86eb646da367f~?~0f440B5a692049dAa2bcdB63335d21B6</password>
    </server>
    <server>
      <id>anypoint-exchange-v2</id>
      <username>~~~Client~~~</username>
      <password>d36c689b719c4e748ef86eb646da367f~?~0f440B5a692049dAa2bcdB63335d21B6</password>
    </server>
    <server>
      <id>anypoint-exchange-v3</id>
      <username>~~~Client~~~</username>
      <password>d36c689b719c4e748ef86eb646da367f~?~0f440B5a692049dAa2bcdB63335d21B6</password>
    </server>
  </servers>
</settings>